* {
    margin: 0;

}

body{
    width: 100%;
    
}

.head-container{
    display: flex;
    justify-content: space-evenly;
    
}

.quiz-container{
    width: 60%;
    margin:  auto;
    text-align: center;
}